<div class="container home-section" id="community">

  <div class="has-text-centered">
    <h3>Community</h3>
    <small><em>in krust we trust</em></small>
  </div>

  <div class="container">

    <div class="content-wrapper">
      <div class="columns is-multiline is-narrow is-centered has-text-centered">
        <div class="column is-half social-wrap">
          <article>
            <a href="https://kubernetes.slack.com/messages/krustlet" class="social-icon">
              <span class="icon">
                <i class="fa fa-slack"></i>
              </span>
            </a>
            <h4>Slack</h4>
            <p><a href="https://slack.cncf.io/">Join the Kubernetes Slack</a> for <a href="https://kubernetes.slack.com/messages/krustlet">#krustlet</a> related discussions.</p>
          </article>
        </div>
        
        <div class="column is-half social-wrap">
          <article>
            <a href="https://us04web.zoom.us/j/71695031152?pwd=T0g1d0JDZVdiMHpNNVF1blhxVC9qUT09" class="social-icon">
              <span class="icon">
                <i class="fa fa-users"></i>
              </span>
            </a>
            <h4>Meetings</h4>
            <p>Public community calls take place every Monday at 1:00pm PT on <a href="https://us04web.zoom.us/j/71695031152?pwd=T0g1d0JDZVdiMHpNNVF1blhxVC9qUT09">Zoom</a>.</p>
          </article>
        </div>
        
        <div class="column is-half social-wrap">
          <article>
            <span class="social-icon"><span class="icon">
              <i class="fa fa-video-camera"></i>
            </span></span>
            <h4>Workshops</h4>
            <dl>
              <dt><a href="https://www.explorewasm.com/">Aug 6th 2020 - <strong></strong>Wasm In The Cloud</a></dt>
              <dd>A free Wasm-focused online workshop.</dd>
            </dl>
          </article>
        </div>

      </div>
    </div>
  </div>

</div>
