<div class="container" id="contributors">

  <div class="title-wrapper has-text-centered">
    <h3>Brought to you by collaborations from:</h3>
  </div>

  <div class="content-wrapper is-mobile columns">
    <div class="column is-half">
      <figure class="image">
        <a href="https://azure.microsoft.com/"><img src="images/microsoft.png" alt="Microsoft"></a>
      </figure>

    </div>
    <div class="column is-half">
      <figure class="image">
        <a href="https://medium.com/capital-one-tech"><img src="images/capitalone.png" alt="CapitalOne"></a>
      </figure>
    </div>
  </div>

  <div class="has-text-centered blog-link">
    <p>Read the Krustlet <a href="https://deislabs.io/posts/introducing-krustlet/">announcement</a> blog post.</p>
  </div>

</div>
