<div class="container home-section" id="intro">
  <div class="columns is-multiline">
    <div class="column is-full is-end">
      <h1>Run Web Assembly workloads within your Kubernetes cluster.</h1>
    </div>
    <!-- <div class="column is-one-third">&nbsp;</div> -->
  </div>
  <div class="columns is-multiline">
    <div class="column is-half">
      <p>Krustlet acts as a <a href="https://k8smeetup.github.io/docs/reference/generated/kubelet/" class="ripple">Kubelet</a> by listening on the event stream for new pods that the scheduler assigns to it, based on specific Kubernetes tolerations.</p>
    </div>
    <div class="column is-half has-text-right">
      <!-- TEXT -->
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-one-fifth is-three-fifths">
      <!-- <p>TEXT</p> -->
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-two-fifths is-three-fifths">
      <!-- <p>TEXT</p> -->
    </div>
  </div>
</div>
