<div class="container home-section" id="intro">
  <div class="columns is-multiline">
    <div class="column is-full is-end">
      <h1>Run WebAssembly workloads in your Kubernetes cluster.</h1>
    </div>
    <!-- <div class="column is-one-third">&nbsp;</div> -->
  </div>
  <div class="columns is-multiline">
    <div class="column is-half">
      <p>Krustlet is a <a href="https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/" class="ripple">Kubelet</a> written in Rust &mdash; which listens on the event stream for new pods that the scheduler assigns to it, based on specific Kubernetes <a href="https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/">tolerations</a>.</p>
      <p>Krustlet is experimental. <a href="https://github.com/deislabs/krustlet"  class="ripple">Learn more</a> <small><span class="icon"><i class="fa fa-chevron-right"></i></span></small></p>
    </div>
    <div class="column is-half has-text-right">
      <!-- TEXT -->
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-one-fifth is-three-fifths">
      <!-- <p>TEXT</p> -->
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-two-fifths is-three-fifths">
      <!-- <p>TEXT</p> -->
    </div>
  </div>

  {{ partial "party.html" . }}
</div>
