{{- $navbar         := .Site.Params.navbar }}

<nav class="navbar is-hidden-touch" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item logo" title="Krustlet">
        <img src="images/horizontal.svg" alt="Krustlet" />
      </a>
    </div>
    <div id="topNav" class="navbar-menu">
      <div class="navbar-start">
        {{- range $navbar }}
        {{- if .sublinks }}
        <div class="navbar-item has-dropdown is-hoverable has-text-left">
          <a class="navbar-link" href=".url">
            {{ .title }}
          </a>
        </div>
        {{- else if .button }}
        <a href="{{ .url }}" class="navbar-item">
          <span class="button signup-button rounded secondary-btn raised">
            {{ .title }}
          </span>
        </a>
        {{- else }}
        <a href="{{ .url }}" class="navbar-item is-secondary">
          {{ .title }}
        </a>
        {{- end }}
        {{- end }}
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/deislabs/krustlet" class="navbar-item is-secondary">
          <span class="icon"><i class="fa fa-github fa-2x"></i></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-mobile is-hidden-desktop">

  <a href="/">
    LOGO
  </a>
  <div>
  {{- range $navbar }}
  {{- if .sublinks }}
  <div class="navbar-item has-dropdown is-hoverable has-text-left">
    <a class="navbar-link" href=".url">
      {{ .title }}
    </a>
  </div>
  {{- else if .button }}
  <a href="{{ .url }}" class="navbar-item">
    <span class="button signup-button rounded secondary-btn raised">
      {{ .title }}
    </span>
  </a>
  {{- else }}
  <a href="{{ .url }}" class="navbar-item is-secondary">
    {{ .title }}
  </a>
  {{- end }}
  {{- end }}
  </div>
</nav>
