<div class="krustparty">
  <header class="highlight"></header>
  <!-- add and remove -->
  <div class="controls toggle active">
    <aside class="control-wa">
      <span class="icon">
        <a class="fa fa-minus" title="Less Wasm"><span class="tooltip">Less Wasm</span></a>
        <img src="images/wow-wa.svg" />
        <a class="fa fa-plus" title="More Wasm"><span class="tooltip">More Wasm</span></a>
      </span>
    </aside>
    <aside class="control-rust">
      <span class="icon">
        <a class="fa fa-minus" title="Less Rust"><span class="tooltip">Less Rust</span></a>
        <img src="images/wow-rust.svg" />
        <a class="fa fa-plus" title="More Rust"><span class="tooltip">More Rust</span></a>
      </span>
    </aside>
    <aside class="control-k8s">
      <span class="icon">
        <a class="fa fa-minus" title="Less Kubernetes"><span class="tooltip">Less K8s</span></a>
        <img src="images/wow-k8s.svg" />
        <a class="fa fa-plus" title="More Kubernetes"><span class="tooltip">More K8s</span></a>
      </span>
    </aside>
    <aside class="begone">
      <span class="icon toggle">
        <a class="fa fa-pause" title="Cease Krustleting"><span class="tooltip">Cease!</span></a>
        <a class="fa fa-play hidden" title="Resume Krustleting"><span class="tooltip">Resume</span></a>
      </span>
    </aside>
  </div>
  
  <!-- one of each to start with -->
  <span class="wow wow-wa"></span>
  <span class="wow wow-rust"></span>
  <span class="wow wow-k8s"></span>
</div>
