@import "bulma/bulma";
@import "clean/core";

.navbar {
  position: sticky;
  top: 0;
  background: rgba(255,255,255,0.94);
}

.intro {
  padding: 6rem 0 12rem;

  h1 {
    max-width: 25rem;
    margin-top: 7.5vw;
    margin-bottom: 8vw;
  }

  h2 {
    max-width: 25rem;
    float: right;
    margin-top: 1.5vw;
  }

  p {
    font-size: 1.5rem;
  }
}

body {
  p,
  ul,
  li {
    font-size: 1.25rem;
    line-height: 1.636;
  }
}

.principles {
  padding-top: 2.5rem;
  padding-bottom: 8.5rem;

  h2 {
    font-size: 2rem;
    margin: 2rem auto;
  }
  ul {
    margin: 2rem auto 4rem;

    li {
      font-size: 1.333rem;
      list-style: disc;
      line-height: 1.825;
      margin-bottom: 1rem;
    }

  }

  .button {
    font-size: 2rem;
    padding: 1.75rem 3rem;
    margin: 2rem 0 2rem;

    .fa {
      margin: 0 1.25rem 0 0;
    }
  }
}

footer {
  width: 100%;
  max-width: 100%;
  border-top: 1px solid rgba(100,100,100,0.125);
  padding: 2.5rem 0 5rem;

  img {
    max-width: 12.5vw;
  };

  .navbar-menu {
    direction: ltr;

  }
}
