@import "bulma/bulma";
@import "clean/core";

// Krustlet Colors
// ---------------------------------------
$purple: #8B4FD7;
$blue: $purple;
$orange: #F86531;
$teal: #03D9D0;

$darkblue: #001F7F;
$darkgrey: #4F5074;
$shadeblue: #E3E4E5;
$shadegrey: #EDF1EE;

$bluel: #2CBDFE;
$yellow: #F7CC42;
$salmon: #FDEDF0;


// Mixins
// ---------------------------------------
@mixin varelaRound {
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 0.0125em;
}

@mixin fullWidth {
  min-width: 100%;
  min-height: 100vh;
  
  .columns {
    max-width: 1152px;
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin transition($property:all, $duration:0.3s, $easing:ease-in-out) {
  transition: $property $duration $easing;
}

@mixin border-radius($radius1:3px, $radius2:3px) {
  -webkit-border-radius: $radius1 $radius2 $radius1 $radius2;
  -moz-border-radius: $radius1 $radius2 $radius1 $radius2;
  border-radius: $radius1 $radius2 $radius1 $radius2;
}

@mixin box-shadow($xlength:0, $ylength:2px, $size:0, $color:rgba(30,30,30,0.25)) {
  -webkit-box-shadow: $xlength $ylength $size $color;
  -moz-box-shadow: $xlength $ylength $size $color;
  box-shadow: $xlength $ylength $size $color;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin ripple($color: $purple) {
  position: relative;
  text-align: center;
  @include transition;
  
  &::after {
    position: absolute;
    bottom: -6px;
    left: 45%;
    width: 10%;
    height: 4px;
    display: inline-block;
    content: "";
    opacity: 0;
    background-color: $color;
    @include transition;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
    left: 0;
    bottom: 0;
  }
}

.ripple {
  @include ripple;
  background: RGBA(164, 115, 220, 0.125);
}

@mixin wipe($color: $teal) {
  position: relative;
  display: inline-block;
  overflow: hidden;
  @include transition;
  
  &::after {
    position: absolute;
    left: -20%;
    top: 125%;
    width: 200%;
    height: 150%;
    display: inline-block;
    background-blend-mode: overlay;
    content: "";
    opacity: 0;
    background-color: $color !important;
    transform: rotate(-15deg);
    z-index: -10;
    @include transition;
  }

  &:hover {
    color: white;
    background-color: transparent !important;
  }

  &:hover::after {
    opacity: 1;
    top: 0%;
    transform: rotate(0deg);
  }
}

@mixin button($color: $purple) {
  box-sizing: border-box;
  font-family: $workbold;
  color: $color;
  width: 15rem;
  height: 4.5rem;
  margin: 2rem auto;
  line-height: 3;
  padding: 0 2rem;
  border: 4px solid $color;
  z-index: 600;
  background: transparent !important;
}

@mixin upperCase {
  text-transform: uppercase;
  letter-spacing: 0.125em;
}


// Krustlet Layout
// ---------------------------------------
html,
body {
  min-height: 100vh;
}

.navbar {
  position: sticky;
  top: 0;
  background: rgba(255,255,255,0.99);
  z-index: 750;

  .navbar-start {
    margin: 0 auto;
    
    .navbar-item {
      @include ripple;
      margin-left: 1.2vw;
      margin-right: 1.2vw;
    }
  }

  .navbar-brand {
    img {
      min-height: 6rem;
    }
  }
}

.navbar, #footer {
  .navbar-item {
    @include varelaRound;
    color: lighten($darkblue, 20%);
  }
}


// homepage sections

#intro,
#contributors {
  @include fullWidth;
}

#intro {
  padding: 18.5rem 0 7rem;
  margin-top: -7rem;
  z-index: 10;
  position: relative;

  &:before {
    position: absolute;
    z-index: -15;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    background-color: $darkgrey;
    background-image: 
      url('../images/krustlet-deco.png'),
      url('../images/krustlet-bg.jpg');
    background-repeat: no-repeat;
    background-position:
      150% bottom,
      center top;
    background-size: auto 75vh, auto auto;
  }

  h1,
  p {
    @include varelaRound;
    color: white;
    z-index: 850;
    position: relative;

    .fa {
      color: $teal;
    }

    strong {
      color: white;
    }

    a {
      color: white;
      @include ripple;
    }
  }

  h1 {
    padding-right: 15vw;
  }

  p {
    font-size: 1.5rem;
    padding: 0 7.5% 0 0;

  }
}

.home-section,
.content-section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .columns {
    z-index: 220;
    position: relative;
  }
  
  h1, h2, h3, h4, p.lead, blockquote {
    @include varelaRound;
  }

  a {
    padding-left: 0.425rem;
    padding-right: 0.425rem;
  }

  h1, h2, h3 {
    margin: 2rem 0;
  }

  h1 {
    margin: 2rem 0;
    font-size: 3.333rem;
    line-height: 1.5;
  }

  h2 {
    font-size: 2.5.75rem;
  }

  h3 {
    font-size: 2.5rem;
    @include upperCase;
  }
}

#community {
  min-height: 100vh;
  position: relative;
  background-color: $teal;
  overflow: hidden;
  @include fullWidth;

  small {
    font-family: monospace;
    opacity: 0.5;
    font-size: 1rem;
    margin-top: -1rem;
    display: block;
  }

  .social-wrap article {
    background: white;
    padding: 1rem 2rem;
    z-index: 120;
    position: relative;
    box-shadow: 0 0.25rem 0.75rem rgba(111, 94, 224, 0.25);

    .social-icon {
      display: inline-block;
      min-width: 6rem;
      min-height: 6rem;
      text-align: center;
      position: relative;

      .icon {
        left: 2.25rem;
        top: 2.5rem;
  
        .fa {
          color: $purple;
        }
      }
    }

    h4, p, dl {
      margin-left: 7.5rem;
    }

    h4 {
      margin-top: 0;
    }

    p {
      font-size: 1rem;
    }
  }

}

#contributors {
  background: linear-gradient(180deg, lighten($purple, 30%) 0%, lighten($shadeblue, 5%) 100%);

  .image {
    min-height: 6rem;
    text-align: center;
    
    img {
      width: auto;
      min-width: 4rem;
      max-height: 6rem;
      margin: 0 auto;
    }
  }

  .blog-link {
    text-align: center;

    p {
      background: #E8EFFD;
      border-radius: 2rem;
      display: inline-block;
      padding: 1rem 3rem;
      margin: -1.5rem auto 0;
    }
  }
}

#footer {
  width: 100%;
  max-width: 100%;
  padding: 2.5rem 0 3.5rem !important;
  border: none;
  z-index: 250;
  position: relative;

  .columns {
    max-width: 1140px;
    min-width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    max-width: 12.5vw;
  };

  .navbar-menu {
    direction: ltr;

  }
}


//animated sillines

.krustparty {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  overflow: hidden;
  z-index: 11;
  @include transition;

  &.cease {
    left: 110%;
    right: -110%;
  }
  
  .controls {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    z-index: 850;
    border-radius: 3rem;
    
    aside {
      background: rgb(237,236,255);
      background: linear-gradient(0deg, rgba(237,236,255,1) 0%, rgba(255,255,255,1) 100%);
      float: left;
      width: 1px;
      display: inline-block;
      padding: 1rem 0;
      text-align: center;
      border-right: 1px solid rgba(246, 245, 254, 1);
      opacity: 0;
      @include transition;

      .hidden {
        display: none;
      }

      &:first-child {
        border-radius: 3rem 0 0 3rem;
      }

      img {
        margin: 0 0.75rem;
      }

      .fa {
        color: RGBA(189, 166, 231, 1.00);
        top: 5rem;
        @include transition;
        position: relative;

        .tooltip {
          background: $purple;
          color: white;
          @include varelaRound;
          position: absolute;
          top: -3rem;
          margin-left: -4rem;
          width: auto;
          padding: 0.75rem 1rem;
          border-radius: 2rem;
          min-width: 8rem;
          text-align: center;
          display: block;
          opacity: 0;
          @include transition;
        }

        &:hover {
          color: $purple;

          .tooltip {
            opacity: 0.92;
            top: -4.5rem;
          }
        }
      }

      &.begone {
        border: none !important;
        width: 3.5rem !important;
        padding: 1rem 0.7rem 1rem 0.7rem !important;
        border-radius: 3rem;
        opacity: 1;

        .fa {
          top: auto;
        }
      }
    }

    &.active {
      aside {
        width: 7.5rem;
        border-right: 1px solid lighten($purple, 25%);
        padding: 1rem 2rem;
        opacity: 1;

        .fa {
          top: auto;
        }
      }

      aside.begone {
        border-radius: 0 3rem 3rem 0;

        .fa {
          margin-left: -2px;
        }
      }
    }
  }
  
  @keyframes wowzers {
    0%{
      fill-opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      fill-opacity: 0;
      transform: rotate(7.5deg) translateY(110vh);
    }
  }
  
  span.wow {
    content: " ";
    position: absolute;
    z-index: 770;
    top: 0;
    left: 0;
    display: block;
    width: 5vw;
    height: 5vw;
    background-image: url('../images/wow-wa.svg');
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: contain;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;

    // animwow
    animation-name: wowzers;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    &:nth-child(2n){
      animation-delay: 0.5s;
    }
    &:nth-child(3n){
      animation-delay: 1.1s;
      animation-duration: 14.3s;
    }
    &:nth-child(4n){
      animation-duration: 20.2s;
    }
    &:nth-child(5n){
      animation-delay: 0.8s;
    }

    &.wow-k8s {
      background-image: url('../images/wow-k8s.svg');
    }
    &.wow-rust {
      background-image: url('../images/wow-rustorange2.svg');
    }

    &:first-child {
      top: 3vw;
      left: 3vw;
    }
  }
}

// mobile styles
@media screen and (max-width:1087px) {
  body {
    overflow-x: hidden !important;
    width: 100vw;
    font-size: 14px;
  }

  .navbar {
    background: transparent !important;
  }

  .navbar-mobile {
    position: relative;
    text-align: center;
    background: transparent !important;
    border-bottom: 2px solid RGBA(194, 215, 240, 0.1);

    img {
      max-width: 12rem;
      margin: 0 auto;
    }

    nav {
      width: 100%;
    }

    a.navbar-item {
      border-bottom: 2px solid lighten(#ccc, 10);
      display: inline-block;
      font-size: 1.125rem;
      padding: 0.25rem 0;
      text-align: center;
      margin: 1rem 4vw -2px;
    }
  }
}
