/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */

//Imports
@import 'partials/colors';
@import 'partials/navbar';
// @import 'partials/dropdowns';
@import 'partials/sections';
@import 'partials/hero';
@import 'partials/footer';
@import 'partials/buttons';
@import 'partials/cards';
// @import 'partials/forms';
@import 'partials/animations';
// @import 'partials/sidebar';
@import 'partials/testimonials';
@import 'partials/responsive';
@import 'partials/utils';

.section.is-medium {
  padding: 6rem 1.5rem
} 

h3 {
  text-transform: uppercase;
  // font-size: 0.25rem;
  letter-spacing: 0.15em;
  color: $brand;
}

.title {
  color: $brand;
}

#about {
  background: $shade0;
  padding-bottom: 0rem;

  

  p {
    font-size: 1.25rem;
    padding: 1.5rem 7.5% 0.5rem 2rem;
    line-height: 1.85;
  }

  .card {
    background-color: transparent;
    box-shadow: none;
    padding-left: 10rem;
    padding-bottom: 2rem;

    border-bottom: 1px solid lighten($shadem, 10%);
    border-left: 1px solid lighten($shadem, 10%);

    &:first-child,
    &:nth-child(3) {
      border-left: none;
    }


    img {
      position: absolute;
      left: 1rem;
      top: 2.5rem;
    }

    h4 {
      font-size: 1.25rem;
      font-weight: bold;
      color: darken($shaded, 12.5%);
      margin: 0.5rem 0 0.25rem 0;
    }

    p {
      font-size: 1rem;
      padding: 0 5% 0 0;
      margin: 0;
      max-width: 360px;
    }
  }

  .video-wrap {
    border: 1px solid lighten($shadem, 10%);
    background: rgba(255,255,255,0.2);
    padding: 0 1.25rem;
  }
}

#old-vs-new {
  background-image:
    url(../images/oldvsnew.png),
    linear-gradient(180deg,#E7EBF7,#D9E0F5);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 115%, 0 0;
  min-height: 15rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .oldstuff,
  .newstuff {
    padding-top: 1.75rem;
  }

  .newstuff {
    background: rebeccapurple;
    background: linear-gradient(180deg, #2A3D74 0%, #384791 100%);
    border-radius: 1rem;
    color: white;

    h2, h3 {
      padding-left: 1rem;
    }

    h3 {
      color: $shadel;
    }

    ol {
      padding-left: 2rem;

      li {
        padding-right: 12.5%;
      }
    }
  }

  h3 {
    font-size: 0.75rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  ol {
    padding-right: 5%;
    list-style-position: outside;
    padding-left: 1rem;

    li {
      margin: 1.5rem 0;
      padding-right: 7.5%;
      line-height: 1.6;
    }
  }
}

#download {
  padding-bottom: 2rem;
  
  .download-step {
    position: relative;
    padding-bottom: 2rem;
    padding: 0 2rem;
  }

  h2 {
    font-weight: bold;
    color: $shaded;
    font-size: 1.125rem;
  }

  p {
    padding-right: 8.5%;
  }

  .tabcontent {
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    position: relative;

    &.active {
      display: block;
    }

    code,
    pre,
    input {
      overflow-wrap: break-word;
      white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      white-space: pre-wrap;       /* css-3 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
      word-break: break-all;
      white-space: normal;
      padding: 1rem 2rem;
      background: $charcoal;
      border: none;
      outline: none;
      color: white;
      font-size: 1rem;
      border-radius: 0.5rem;
      font-family: monospace;
      font-weight: 400;
      width: 100%;
      padding: 1rem 6.25rem 1rem 1.2rem;

      &:before {
        display: none;
      }
    }

    button {
      position: absolute;
      right: 0.5rem;
      top: 0.45rem;
    }
  }

  .level-item {
    // background: yellow;

  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  .bigno {
    position: absolute;
    width: 2rem;
    line-height: 2;
    text-align: center;
    background-color: $shadel;
    border-radius: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    left: -0.2rem;
    top: 0.525rem;
  }
}

p {
  line-height: 1.6;
  margin: 1.5rem 0;
  font-size: 1.125rem;
}

code, pre {
  background-color: darken($charcoal, 5%);
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  line-height: 1.8;
}

code {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: lighten($charcoal, 55.5%);
  color: $charcoal;
}

pre {
  position: relative;
  padding-top: 2.25rem;

  &:before {
    background: linear-gradient(180deg, lighten($charcoal, 60%) 0%, lighten($charcoal, 50%) 100%);
    border: 2px solid lighten($charcoal, 50%);
    display: block;
    content: " ";
    width: 200%;
    height: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 0 0;
    border-bottom: 1px solid $charcoal;
  }

}

#about {
  .box {
    width: 48%;
    display: inline-flexbox;
  }
}

#testimonial {
  background: linear-gradient(180deg, lighten(#2A3D74, 67%) 0%, lighten(#2A3D74, 75%) 100%);

  .image {
    min-height: 6rem;
    text-align: center;
    
    img {
      width: auto;
      min-width: 4rem;
      max-height: 6rem;
      margin: 0 auto;
    }
  }

  .blog-link {
    text-align: center;

    p {
      background: #E8EFFD;
      border-radius: 2rem;
      display: inline-block;
      padding: 1rem 3rem;
      margin: -1.5rem auto 0;
    }
  }
}

#community {

  .social-wrap {
    text-align: left;
    position: relative;

    .icon {
      padding: 0;
    }
    .icon,
    img {
      font-size: 4rem;
      float: left;
      margin: 0 2rem 0 0;
      line-height: .7;
      position: absolute;
      left: 1rem;
      top: 3rem;

      .fa-github {
        color: $charcoal;
      }
    }

    img {
      max-width: 3.5rem;
      top: 1.75rem;
      left: 0rem;
    }

    h4 {
      font-size: 1.25rem;
      font-weight: bold;
      // display: block;
      min-width: 15vw;
      color: darken($shaded, 12.5%);
      margin: 0.5rem 0 0.25rem 0;

      a {
        color: darken($shaded, 12.5%);
      }
    }

    p {
      font-size: 0.825rem;
      // display: block;
      padding: 0 8% 0 0;
      margin: 0;
      // max-width: 22vw;
    }
  }
}
